<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314424025575-cujadq93ll4c79inpf2ev0oo5mmr8gh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314424025575-cujadq93ll4c79inpf2ev0oo5mmr8gh5</string>
	<key>API_KEY</key>
	<string>AIzaSyDVRH7x1qKipO9zidvLn4DK9La9JfEWK2M</string>
	<key>GCM_SENDER_ID</key>
	<string>314424025575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.arthurford.BlackHistoryFacts</string>
	<key>PROJECT_ID</key>
	<string>blackhistoryfacts-3e03e</string>
	<key>STORAGE_BUCKET</key>
	<string>blackhistoryfacts-3e03e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314424025575:ios:9849765998ffde6397dd42</string>
</dict>
</plist>